.ad-SVG {
    display: block;
    background: #fff;
    border-radius: 4px;
    width: 100%
}
    .ad-Grid {
        fill: none;
        stroke: #eee;
        stroke-width: 3px;
    }
    .ad-Grid.is-hidden {
        opacity: 0;
    }